* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden; /* hides scroll bar and also disables scrolling */
}

#game-world
{
    position: fixed;
}

#camera
{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
}

#player
{
    
}